@charset "UTF-8";

html,body,p,h1,h2,h3,h4,h5,h6,table,tr,td,input,button,textarea,ul,ol,li,dl,dt,dd,div,img,form,p,iframe {
	padding: 0;
	margin: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}
em,i {
	font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%
}

img,input,button {
	border: none
}

input,button {
	-webkit-appearance: none
}

li {
	list-style: none
}

img {
	vertical-align: top;
	max-width: 100%;
	width: 100%;
	height: auto
}

body a {
	outline: none;
	-webkit-tap-highlight-color: transparent
}

html {
	-webkit-text-size-adjust: none;
	font-size: 20px
}

html {
	height: 100%
}

body {
	font-family: "Microsoft Yahei";
	background: #fff;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	min-height: 100%;
}





